/* font families
font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Gruppo', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace; */


html {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(233,229,221);
}

body {
  padding: 0;
  margin: 0;
}

.header-container {
  display: flex;
  flex-direction: column-reverse;
}

.navbar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(233,229,221);
  border-bottom: 1px solid rgb(118, 91, 61);
  padding: 20px;
}

.header {
  background-image: url(./assets/index-1567179608.jpg);
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: 40% 50%;
  border-bottom: 1px solid rgb(118, 91, 61);
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}


a:hover {
  text-decoration: none;
  color: black;
  font-size: 18.3px;
  text-decoration-line: overline;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px;
}

.home-img {
  border: 1px solid rgb(118, 91, 61);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  flex-wrap: wrap;
  padding: 0 60px 0 60px;
}

/* .about-header {
  padding: 12px;
  border-bottom: 1px solid black;
  border-width: 50%;
} */

.home-img {
  width: auto;
  height: auto;
  max-width: 600px;
}

.about-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-bottom: 20px;
}

.about-p {
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  border-width: 50%;
}

.card-img {
  width: auto;
  max-height: 30vh;
  margin: 10px;
  border: 1px solid rgb(118, 91, 61);
}

.card-p {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tuhmid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rogers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


