/* font families
font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Gruppo', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace; */


html {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(233,229,221);
}

body {
  padding: 0;
  margin: 0;
}

/* HOME CSS */
.header-container {
  display: flex;
  flex-direction: column-reverse;
}

.navbar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(233,229,221);
  border-bottom: 1px solid rgb(118, 91, 61);
  padding: 20px;
}

.header {
  background-image: url(./assets/index-1567179608.jpg);
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: 40% 50%;
  border-bottom: 1px solid rgb(118, 91, 61);
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}


a:hover {
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-decoration-line: overline;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px;
}

.home-img {
  border: 1px solid rgb(118, 91, 61);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  flex-wrap: wrap;
  padding: 0 60px 0 60px;
}

/* .about-header {
  padding: 12px;
  border-bottom: 1px solid black;
  border-width: 50%;
} */

.home-img {
  width: auto;
  height: auto;
  max-width: 600px;
}

.about-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-bottom: 20px;
}

.about-p {
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  border-width: 50%;
}

.card-img {
  width: auto;
  max-height: 30vh;
  margin: 10px;
  border: 1px solid rgb(118, 91, 61);
}

.card-p {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tuhmid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rogers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* DRINK PAGE CSS */
.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 40px 40px
}

h1 {
  display: flex;
  text-align: center;
}

h4 {
  display: flex;
  text-align: center;
  margin: -8px;
}

.search-ul {
  font-size: x-large;
  font-weight: 300;
  padding-top: 20px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.input-box#text {
  margin-right: 30px;
  border: 2px solid black;
  padding: 10px;
  background-color: transparent;
}

.input-box#text:focus {
  margin-right: 30px;
  border: 2px solid black;
  padding: 10px;
  background-color: rgba(255, 235, 205, 0.35);
}


.drink-map {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px;
  justify-items: center;
  padding: 30px;
}

.drink-card-image {
  max-width: 350px;
  border: 1px solid rgb(118, 91, 61);
}

/* CSS */
/* this was taken from a button styling site */
button {
  --b: 2px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #000000;
  
  padding: calc(.4em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0em;
  background-color: rgba(255, 235, 205, 0.35);
}

button:active {
  background: var(--color);
}

/* RANDOM CSS */
.random-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 200vh;
}

.drink-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100vh;
  padding: 60px;
}

.instructions {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
}

#random-drink-image{
  max-height: auto;
  max-width: 50%;
  margin:auto;
  border: 1px solid rgb(118, 91, 61);
}